$primarycolor: white;
$secondcolor: #191654;
$primarytextcolor: black;
$secondtextcolor: white;


body {
  caret-color: transparent;
  background-color: $primarycolor;
}
#userAvatar {
  width: 100px;
}